<!doctype html> 
<html> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Startist</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/startist.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mw.ui.css') }}">
</head>



<body class="client-js">
<h1>Startist</h1>
<p>This tool finds all new sections started by a user. You can search by namespace, or on specific discussion pages.</p>
<p></p>

<div id="startistform">
<form action="results" method="get">
	<button type="submit" class="mw-ui-button mw-ui-progressive mw-ui-big">Submit</button><br />
	<table>
  		<tr>
    		<td><label>Username:</label></td>
    		<td><input type="text" class="mw-ui-input" name="username" required /></td>
  		</tr>
  		<tr>
    		<td><label>Oldest date:<span class="small">(optional, YYYY-MM-DD)</span></label></td>
    		<td><input type="text" class="mw-ui-input" name="startdate" maxlength="11"/></td>
  		</tr>
  		<tr>
    		<td><label>Newest date:<span class="small">(optional, YYYY-MM-DD)</span></label></td>
    		<td><input type="text" class="mw-ui-input" name="enddate" maxlength="11"/></td>
  		</tr>
	</table>
	<table>
		<tr>
			<td width=33%>
				<input type="checkbox" id="boxns01ttop" name="boxns01ttop" class="boxnst" value="true" />
				<label for="boxns01ttop">All talk pages</label><!--
	-->&nbsp;		</td>
			<td width=33%>
				<input type="checkbox" id="boxns03top" name="boxns03top" class="boxns" value="true" />
    			<label for="boxns03top">All project pages</label><!--
	-->&nbsp;		</td>
			<td width=33%>
				<input type="checkbox" id="boxnbsatop" name="boxnbsatop" class="boxnbsatop" value="true" />
				<label for="boxnbsatop">All noticeboards</label><!--
	-->&nbsp;		</td>
		</tr>
		<tr>
			<td width=33%>
				<input type="checkbox" id="boxrdsatop" name="boxrdsatop" class="boxrdsatop" value="true" />
				<label for="boxrdsatop">All reference desks</label><!--
	-->&nbsp;		</td>
			<td width=33%>
				<input type="checkbox" id="boxvpsatop" name="boxvpsatop" class="boxvpsatop" value="true" />
				<label for="boxvpsatop">All village pumps</label><!--
	-->&nbsp;		</td>
			<td width=33%>
				<input type="checkbox" id="boxthsatop" name="boxthsatop" class="boxthsatop" value="true" />
				<label for="boxthsatop">Teahouse / help desk</label><!--
	-->&nbsp;		</td>
		</tr>
	</table>
	<br/>
	<fieldset>
		<legend><center><button type="button" class="collapser collapser-change mw-ui-button mw-ui-progressive" id="collapser1">Show all settings</button></center></legend>
	<div class="collapsecontent" id="collapsecontent1">
	<table>
	<tr>
		<td style="text-align:right;">
			<fieldset>
				<legend><b>Namespaces</b></legend>
    			<label for="boxns01">Main</label><!--
				-->&nbsp;<input type="checkbox" id="boxns01" name="boxns01" class="boxns" value="true" />
    			<label for="boxns01t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns01t" name="boxns01t" class="boxnst" value="true" /><br />
    			<label for="boxns02">User</label><!--
				-->&nbsp;<input type="checkbox" id="boxns02" name="boxns02" class="boxns" value="true" />
				<label for="boxns02t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns02t" name="boxns02t" class="boxnst" value="true" /><br />
    			<label for="boxns03">Wikipedia</label><!--
				-->&nbsp;<input type="checkbox" id="boxns03" name="boxns03" class="boxns" value="true" />
				<label for="boxns03t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns03t" name="boxns03t" class="boxnst" value="true" /><br />
    			<label for="boxns04">File</label><!--
				-->&nbsp;<input type="checkbox" id="boxns04" name="boxns04" class="boxns" value="true" />
				<label for="boxns04t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns04t" name="boxns04t" class="boxnst" value="true" /><br />
    			<label for="boxns05">MediaWiki</label><!--
				-->&nbsp;<input type="checkbox" id="boxns05" name="boxns05" class="boxns" value="true" />
				<label for="boxns05t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns05t" name="boxns05t" class="boxnst" value="true" /><br />
    			<label for="boxns06">Template</label><!--
				-->&nbsp;<input type="checkbox" id="boxns06" name="boxns06" class="boxns" value="true" />
				<label for="boxns06t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns06t" name="boxns06t" class="boxnst" value="true" /><br />
    			<label for="boxns07">Help</label><!--
				-->&nbsp;<input type="checkbox" id="boxns07" name="boxns07" class="boxns" value="true" />
				<label for="boxns07t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns07t" name="boxns07t" class="boxnst" value="true" /><br />
    			<label for="boxns08">Category</label><!--
				-->&nbsp;<input type="checkbox" id="boxns08" name="boxns08" class="boxns" value="true" />
				<label for="boxns08t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns08t" name="boxns08t" class="boxnst" value="true" /><br />
    			<label for="boxns09">Portal</label><!--
				-->&nbsp;<input type="checkbox" id="boxns09" name="boxns09" class="boxns" value="true" />
				<label for="boxns09t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns09t" name="boxns09t" class="boxnst" value="true" /><br />
    			<label for="boxns10">Draft</label><!--
				-->&nbsp;<input type="checkbox" id="boxns10" name="boxns10" class="boxns" value="true" />
				<label for="boxns10t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns10t" name="boxns10t" class="boxnst" value="true" /><br />
    			<label for="boxns11">TimedText</label><!--
				-->&nbsp;<input type="checkbox" id="boxns11" name="boxns11" class="boxns" value="true" />
				<label for="boxns11t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns11t" name="boxns11t" class="boxnst" value="true" /><br />
    			<label for="boxns12">Module</label><!--
				-->&nbsp;<input type="checkbox" id="boxns12" name="boxns12" class="boxns" value="true" />
				<label for="boxns12t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns12t" name="boxns12t" class="boxnst" value="true" /><br />
    			<label for="boxns13">Gadget</label><!--
				-->&nbsp;<input type="checkbox" id="boxns13" name="boxns13" class="boxns" value="true" />
				<label for="boxns13t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns13t" name="boxns13t" class="boxnst" value="true" /><br />
    			<label for="boxns14">Gadget def.</label><!--
				-->&nbsp;<input type="checkbox" id="boxns14" name="boxns14" class="boxns" value="true" />
				<label for="boxns14t">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxns14t" name="boxns14t" class="boxnst" value="true" /><br />
				<br />
    			<label for="boxnssa"><b>Select all</b></label><!--
				-->&nbsp;<input type="checkbox" id="boxnssa" name="boxnssa" class="boxnssa" value="true" />
				<label for="boxnssat">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxnssat" name="boxnssat" class="boxnssat" value="true" /><br />
    			<label for="boxnsca"><b>Clear all</b></label><!--
				-->&nbsp;<input type="checkbox" id="boxnsca" name="boxnsca" class="boxnsca" value="true" />
				<label for="boxnscat">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxnscat" name="boxnscat" class="boxnscat" value="true" /><br />
    			<label for="boxnsia"><b>Invert all</b></label><!--
				-->&nbsp;<input type="checkbox" id="boxnsia" name="boxnsia" class="boxnsia" value="true" />
				<label for="boxnsiat">(talk)</label><!--
				-->&nbsp;<input type="checkbox" id="boxnsiat" name="boxnsiat" class="boxnsiat" value="true" /><br />
			</fieldset>
		</td>
		<td style="text-align:right;">
			<fieldset>
				<legend><b>Noticeboards</b></legend>
				<label for="boxnb01">Administrators'</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb01" name="boxnb01" class="boxnb" value="true" /><br />
				<label for="boxnb02">Administrators' (edit warring)</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb02" name="boxnb02" class="boxnb" value="true" /><br />
				<label for="boxnb03">Administrators' (incidents)</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb03" name="boxnb03" class="boxnb" value="true" /><br />
				<label for="boxnb04">Arbitration/Requests/Enforcement</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb04" name="boxnb04" class="boxnb" value="true" /><br />
				<label for="boxnb05">Biographies of living persons</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb05" name="boxnb05" class="boxnb" value="true" /><br />
				<label for="boxnb06">Bots</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb06" name="boxnb06" class="boxnb" value="true" /><br />
				<label for="boxnb07">Bureaucrats' noticeboard</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb07" name="boxnb07" class="boxnb" value="true" /><br />
				<label for="boxnb08">Conflict of interest</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb08" name="boxnb08" class="boxnb" value="true" /><br />
				<label for="boxnb09">Dispute resolution</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb09" name="boxnb09" class="boxnb" value="true" /><br />
				<label for="boxnb10">External links</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb10" name="boxnb10" class="boxnb" value="true" /><br />
				<label for="boxnb11">Fringe theories</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb11" name="boxnb11" class="boxnb" value="true" /><br />
				<label for="boxnb12">No original research</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb12" name="boxnb12" class="boxnb" value="true" /><br />
				<label for="boxnb13">Neutral point of view</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb13" name="boxnb13" class="boxnb" value="true" /><br />
				<label for="boxnb14">Reliable sources</label><!--
				-->&nbsp;<input type="checkbox" id="boxnb14" name="boxnb14" class="boxnb" value="true" /><br />
				<br />
				<label for="boxnbsa"><b>Select all</b></label><!--
				-->&nbsp;<input type="checkbox" id="boxnbsa" name="boxnbsa" class="boxnbsa" value="true" /><br />
				<label for="boxnbca"><b>Clear all</b></label><!--
				-->&nbsp;<input type="checkbox" id="boxnbca" name="boxnbca" class="boxnbca" value="true" /><br />
				<label for="boxnbia"><b>Invert all</b></label><!--
				-->&nbsp;<input type="checkbox" id="boxnbia" name="boxnbia" class="boxnbia" value="true" />
			</fieldset>
		</td>
	</tr>
	<tr>
		<td style="text-align:right;">
			<fieldset>
				<legend><b>Reference desks</b></legend>
				<label for="boxrd01">(main)</label><!--
				-->&nbsp;<input type="checkbox" id="boxrd01" name="boxrd01" class="boxrd" value="true" /><br/>
				<label for="boxrd02">Computing</label><!--
				-->&nbsp;<input type="checkbox" id="boxrd02" name="boxrd02" class="boxrd" value="true" /><br/>
				<label for="boxrd03">Entertainment</label><!--
				-->&nbsp;<input type="checkbox" id="boxrd03" name="boxrd03" class="boxrd" value="true" /><br/>
				<label for="boxrd04">Humanities</label><!--
				-->&nbsp;<input type="checkbox" id="boxrd04" name="boxrd04" class="boxrd" value="true" /><br/>
				<label for="boxrd05">Language</label><!--
				-->&nbsp;<input type="checkbox" id="boxrd05" name="boxrd05" class="boxrd" value="true" /><br/>
				<label for="boxrd06">Mathematics</label><!--
				-->&nbsp;<input type="checkbox" id="boxrd06" name="boxrd06" class="boxrd" value="true" /><br/>
				<label for="boxrd07">Science</label><!--
				-->&nbsp;<input type="checkbox" id="boxrd07" name="boxrd07" class="boxrd" value="true" /><br/>
				<label for="boxrd08">Miscellaneous</label><!--
				-->&nbsp;<input type="checkbox" id="boxrd08" name="boxrd08" class="boxrd" value="true" /><br/>
				<br />
				<label for="boxrdsa"><b>Select all</b></label><!--
				-->&nbsp;<input type="checkbox" id="boxrdsa" name="boxrdsa" class="boxrdsa" value="true" /><br />
				<label for="boxrdca"><b>Clear all</b></label><!--
				-->&nbsp;<input type="checkbox" id="boxrdca" name="boxrdca" class="boxrdca" value="true" /><br />
				<label for="boxrdia"><b>Invert all</b></label><!--
				-->&nbsp;<input type="checkbox" id="boxrdia" name="boxrdia" class="boxrdia" value="true" />
			</fieldset>
		</td>
		<td style="text-align:right;">
			<fieldset>
				<legend><b>Village pumps and misc. help</b></legend>
				<label for="boxth">Teahouse</label><!--
				-->&nbsp;<input type="checkbox" id="boxth" name="boxth" class="boxth" value="true"/><br/>
				<label for="boxth">Help desk</label><!--
				-->&nbsp;<input type="checkbox" id="boxhd" name="boxhd" class="boxth" value="true"/><br/>
				<label for="boxvp01">Village Pump: Policy</label><!--
				-->&nbsp;<input type="checkbox" id="boxvp01" name="boxvp01" class="boxvp" value="true" /><br/>
				<label for="boxvp02">Village Pump: Technical</label><!--
				-->&nbsp;<input type="checkbox" id="boxvp02" name="boxvp02" class="boxvp" value="true" /><br/>
				<label for="boxvp03">Village Pump: Proposals</label><!--
				-->&nbsp;<input type="checkbox" id="boxvp03" name="boxvp03" class="boxvp" value="true" /><br/>
				<label for="boxvp04">Village Pump: Idea lab</label><!--
				-->&nbsp;<input type="checkbox" id="boxvp04" name="boxvp04" class="boxvp" value="true" /><br/>
				<label for="boxvp05">Village Pump: WMF</label><!--
				-->&nbsp;<input type="checkbox" id="boxvp05" name="boxvp05" class="boxvp" value="true" /><br/>
				<label for="boxvp06">Village Pump: Miscellaneous</label><!--
				-->&nbsp;<input type="checkbox" id="boxvp06" name="boxvp06" class="boxvp" value="true" /><br/>
				<br />
				<label for="boxvpsa"><b>Select all</b></label><!--
				-->&nbsp;<input type="checkbox" id="boxvpsa" name="boxvpsa" class="boxvpsa" value="true" /><br />
				<label for="boxvpca"><b>Clear all</b></label><!--
				-->&nbsp;<input type="checkbox" id="boxvpca" name="boxvpca" class="boxvpca" value="true" /><br />
				<label for="boxvpia"><b>Invert all</b></label><!--
				-->&nbsp;<input type="checkbox" id="boxvpia" name="boxvpia" class="boxvpia" value="true" />
			</fieldset>
		</td>
	</tr>
	</table>
	</div>
	</fieldset>
<br/>
<center><button type="button" class="mw-ui-button mw-ui-progressive" id="clearall">Clear all selections</button></center>
<br/><br/>
	<fieldset>
		<legend><b>Output format</b></legend>
		<center>
			<label for="HTML">HTML</label><!--
			-->&nbsp;<input type="radio" id="HTML" name="format" value="HTML" checked="yepperoni">&nbsp; &nbsp;
			<!--<label for="CSV">CSV</label--><!--
			--><!--&nbsp;<input type="radio" id="CSV" name="format" value="CSV">&nbsp; &nbsp;-->
			<!--<label for="TSV">TSV</label--><!--
			--><!--&nbsp;<input type="radio" id="TSV" name="format" value="TSV">&nbsp; &nbsp;-->
			<label for="JSON">JSON</label><!--
			-->&nbsp;<input type="radio" id="JSON" name="format" value="JSON">&nbsp; &nbsp;
			<!--<label for="wt">Wikitext</label--><!--
			--><!--&nbsp;<input type="radio" id="wt" name="format" value="wt">-->
		</center>
	</fieldset>
</form>
</div>

<img src="{{ url_for('static', filename='img/startist-logo.png') }}" alt="Wikipe-tan painting the future" style="float:right;">

<h2>More information about this tool</h2>
<p>This will go through a user's contributions, pick out edits with "New section" in the summary, and filter them based on the search criteria above.</p>
<p>This will not return <em>all</em> new sections created by the user. "New section" is added to edit summaries automatically, but not all edits that introduce a new section heading are guaranteed to be tagged as such.</p>
<p>For noticeboard, reference desk, village pump and help desk searches, adding more of these will not make the tool take longer (they're all in the Wikipedia namespace, so all of a user's contributions in that namespace are being searched if any of these are specified).</p>
<p><b>A word of caution when doing namespace searches:</b> These will make the tool take much longer to run, especially if the user has many edits in the namespaces being searched. It is best to keep these to a minimum, unless you're searching for something specific.</p>

<span style="display:none;"><input type="checkbox" id="boxthia" name="boxthia" class="boxthia" value="true" /><input type="checkbox" id="boxthca" name="boxthca" class="boxthca" value="true" /></span>
<footer><center>This software was made by <a href="https://github.com/jp-x-g/">JPxG</a><br/>Bug reports, comments and feedback go on <a href="https://en.wikipedia.org/wiki/User_talk:JPxG">his talk page</a><br/>Source code is <a href="https://github.com/jp-x-g/startist">on GitHub</a><br/>Hosting provided by <a href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge">Toolforge</a></center></footer>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/collapsers.js') }}"></script>
</body>
</html>
